<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <li>
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
        >Home</a
      >
    </li>
    <li>
      <a class="nav-item nav-link" routerLink="/ordenes" routerLinkActive="active"
        >Ventas del Dia</a
      >
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Dropdown
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="/ordenes">Ventas del DIa</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
  <p>Sistema de Ventas - Rivera Express</p>
  <p>
    <a href="http://presenciavirtual.net" target="_top">Presencia Virtual</a>
  </p>
</div>
